In [1]:
import sys
sys.version

'3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]'

In [2]:
print('hello')
# shift + enter

hello

### 단축키 요약
- shift + enter :  셀실행 후 다음 셀로 이동
- alt + enter :    셀실행 후 다음에 셀을 추가
- ctrl + '/'  :    주석문 설정/해제
- tab         :    들여쓰기
- shift + Tab :    들여스기 해제

## 파이썬 자료형
### [1 ] 파이썬 숫자형
- 정수형

In [3]:
a = 12345
b = 100
c = a + b
# print(c)
print(a)
print(b)
c

12345
100

12445

In [4]:
a = 10
print(int(a))
print(bin(15))
print(hex(a))
print(oct(a))
type(a)

10
0b1111
0xa
0o12

int

- 실수형(float)

In [5]:
f = 10.54
print(f)
type(f)
b = float(a)
type(b)
print()

10.54

### 객체

In [6]:
a = 30
print(hex(id(a)))
b = 40
print(hex(id(b)))
b = a
print(hex(id(b)))
b = 40
print(hex(id(b)))
# del b
# print(hex(id(b)))

0x7ffb12e9a530
0x7ffb12e9a670
0x7ffb12e9a530
0x7ffb12e9a670

### 사칙연산 : +, -. x, / , %, //, ***

In [7]:
a = 10
b = 3
c = a + b
c = a - b
c = a * b
f = a / b    # float 형
print(f,type(f))

g = a % b    #  나머지
print(g)     # 1
 
f2 = a // b  # 정수 나눗셈 
print(f2)    #  3

h = a ** b   # 10^3
print(h)     # 1000

3.3333333333333335 <class 'float'>
1
3
1000

### 표준 입출력

#### 표준입력 : 변수 = input()

In [9]:
a = input()
print(a)

10
10

In [17]:
english = input('영어점수:')
math = input('수학점수:')
total = int(english) + int(math)    # int 형 변환
print(total)

영어점수:50
수학점수:80
130

#### 표준출력 : print()

In [21]:
print('add : ', 4 + 5, 'sub = ', 4 - 2)
print('영어:', int(english), '수학:',int(math),'총점:',total)
print(1,2) ; print(3,4)          # 마지막에 자동으로 '\n'

add :  9 sub =  2
영어: 50 수학: 80 총점: 130
1 2
3 4

In [28]:
print(1,2 , end = ' ')   # 줄바꿈 대신에 space 사용
print(3,4)

1 2 3 4

In [31]:
print(5,6,7, sep=':')   # space대신에 ':' 으로 출력

5:6:7

### print formatting

In [44]:
num_1 = 10
num_2 = 1.234
str_1 = 'Hello Python'

print('int형: %d'%num_1)
print('float형: %f'%num_2)
print('16진수: 0x%x'%num_1)

print('문자열: %s'%str_1)
print('문자열: %s  int형: %d'%(str_1,num_1))

int형: 10
float형: 1.234000
16진수: 0xa
문자열: Hello Python
문자열: Hello Python  int형: 10

In [62]:
# format() 함수
print(format(1.23456,"7.6f"))  # 전체 7 자리 , 소숫점 6자리

# 추천방법
print('{0} / {1}'.format('apple',7.77))

print('{0:<10}{1:7.3f}'.format('apple',7.77))   # 10 자리 왼쪽으로 정렬
print('{0:>10}{1:7.3f}'.format('apple',7.77))   # 10 자리 오른쪽으로 정렬
print('{0:^10}{1:7.3f}'.format('apple',7.77))   # 10 자리 가운데로 정렬

print('{0:=<10}{1:7.3f}'.format('apple',7.77))  # 빈칸을 '='기호로 채움
print('{0:*<10}{1:7.3f}'.format('apple',7.77))  # 빈칸을 '*'기호로 채움

1.234560
apple / 7.77
apple       7.770
     apple  7.770
  apple     7.770
apple=====  7.770
apple*****  7.770

### eval() 함수 :