### 튜플(tuple) :  불변형(immutable), 시퀀스 형, ( ) : 소괄호 사용, 소괄호 생략 가능

In [1]:
a = (1,2,3,4,5,6)
print(a)
type(a)

(1, 2, 3, 4, 5, 6)

tuple

In [4]:
# indexing
print(a[0],a[1],a[-1])

# a[0] = 10  # TypeError  , 요소 변경이 불가

1 2 6

In [8]:
b = list(a)
b[1] = 200
b = tuple(b)
b

(1, 200, 3, 4, 5, 6)

In [11]:
# slicing
print(a[0:2])
print(a[::2])
print(a[::-1])

(1, 2)
(1, 3, 5)
(6, 5, 4, 3, 2, 1)

In [25]:
# 패킹(packing), 언패킹 튜플
t = 1,2,'hello'   # 패킹
type(t)
x,y,z = t         # 언패킹
print(x,y,z)
type(x),type(y),type(z)

1 2 hello

(int, int, str)

In [40]:
a,b,c = 10,20,'hi'   # 언패킹
print(a,b,c)

10 20 hi

In [39]:
# 확장된 언패킹
t = (1,2,3,4,5,6,7)
# a,b = t   # ValueError
# a,b,_,_,_ = t

a,*b = t   # 확장된 언패킹
print(a)
print(b)  # 리스트로 나머지를 모두 할당

*a,b = t
print(a)
print(b)  # 리스트로 나머지를 모두 할당

a,b,*c = t 
print(a,b,c)
a,*b,c = t
print(a,b,c)

# a,*b,*c = t  # SyntaxError

1
[2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
7
1 2 [3, 4, 5, 6, 7]
1 [2, 3, 4, 5, 6] 7

In [49]:
t = ()  # 빈튜플
l = []  # 빈리스트

t = (10) 
print(type(t))    # int
t = (10,)    
print(type(t))    # tuple
print(t[0])

t = 10,
type(t)

<class 'int'>
<class 'tuple'>
10

tuple

In [51]:
l = [10]
type(l)

list

In [16]:
# 리스트와 스트링도 언패킹, 확장 언패킹
a,b = [1,2]
print(a,b)
a = [1,2,3]
b,c,d = a
print(b,c,d)

a,b = 'hi'
print(a,b)

a,*b = 'hiooo'  # 리스트로 나머지를 모두 할당
print(a,b)

1 2
1 2 3
h i
h ['i', 'o', 'o', 'o']

In [20]:
# 두 개의 값을 서로 변경하는 코드
# x : 1, y : 2

# (1) 전통 언어 방식
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)

# (2) 파이썬 튜플 방식
x,y = 1,2
x,y = y,x
print(x,y)

2 1
2 1

In [30]:
# 연산자
t1 = (1,2,3)
t2 = ('apple','banana')
t3 = t1 + t2
print(t3)

t3 = t1.__add__(t2)
print(t3)

t4 = t3*3
print(t4)

print(len(t4))

print(sum(t1))

(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana')
15
6

In [31]:
t = (1,2,3,4,2,2,3)
t.count(2)   # 요소의 횟수

3

In [34]:
print(t.index(2))   # 요소 2 가 처음 나오는 위치(인덱스)를 반환
print(t.index(2,3)) # 요소 2 를 인덱스 3 이상부터 나오는 위치(인덱스)를 반환

1
4

In [36]:
del t[0]   # TypeError